section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

section:nth-child(even) {
  flex-direction: row-reverse;
}

section img,
section div {
  height: auto;
  width: 100%;
}

section img {
  width: 50%;
}

section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
}

@media screen and (max-width: 900px) {
  section,
  section:nth-child(even) {
    flex-direction: column;
  }

  section img {
    height: auto;
    width: auto;
    max-width: 100vw;
  }
}

.cool-link {
  display: inline-block;
  color: gray;
}
.cool-link:hover {
  color: gray;
}
.cool-link {
  display: inline-block;
  color: gray;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: gray;
  transition: width 0.3s;
}

.cool-link:hover::after {
  width: 100%;
}
footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
