.contact-bar {
  background-color: #18191a;
  font-family: Arial;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  color: white;
}

.contact-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: left;
  list-style-type: none;
  margin: 0;
}

.cool-link:hover {
  color: gray;
}

.contact-bar a {
  text-decoration: none;
}

li {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;
}

#socials-start {
  margin-left: 5px;
}

.cool-link {
  display: inline-block;
  color: white;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
}

.cool-link:hover::after {
  width: 100%;
}

@media screen and (max-width: 900px) {
  #desktop-only {
    display: none;
  }
}
