.navbar {
  background-color: aliceblue;
  padding: 1px;
  font-family: Arial;
  text-align: center;
  margin: 0;
  margin-left: -37px; /* hardcoded value */
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.navbar li:hover {
  background-color: lightblue;
}

.navbar a {
  text-decoration: none;
  color: black;
}

img {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}
